services:
  nginx-proxy-manager:
    container_name: nginx-proxy-manager
    image: jc21/nginx-proxy-manager:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "81:81"
    volumes:
      - npm_data:/data
      - npm_letsencrypt:/etc/letsencrypt
    networks:
      - npm-net
    environment:
      TZ: "Africa/Johannesburg"

volumes:
  npm_data:
  npm_letsencrypt:

networks:
  npm-net:
    name: npm-net
    driver: bridge
